.search-bar {
  background-color: #8458b3;
  box-shadow: 0 1px 3px #38254d4d;
  padding: 10px 0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.search-form {
  display: flex;
  justify-content: center;
}

.search-box {
  font-family: inherit;
  padding: 5px;
  width: 300px;
  border: none;
  border-radius: 5px 0 0 5px;
}

.search-box::placeholder {
  padding: 0 5px;
}

.search-btn {
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  background-color: #edf7f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

// .photo-card {}
// .info {
// }
// .info-item {
// }
